Flask==2.3.2
astroid==3.3.6
bandit==1.8.0
dill==0.3.9
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
pbr==6.1.0
platformdirs==4.3.6
Pygments==2.18.0
pylint==3.3.2
PyYAML==6.0.2
rich==13.9.4
stevedore==5.4.0
tomlkit==0.13.2
